<% provide(:title, "Hotels") %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>

      	Best five hotels
</h2>
      	<%  @hotelsordered.each do |h|  %>
      	<%= link_to h.title, hotel_path(h.id) %> (<%= (h.star_rating/h.rates_count).round(2) %>)
      	<br>
      	<% end %>
      
      </section>
  </aside>
</div>
