<% provide(:title, "Hotels") %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>

      	Best five hotels

      	<%  @hotelsordered.each do |h|  %>
      	<%= link_to h.title, hotel_path(h.id) %> (<%= (h.star_rating/h.rates_count).round(2) %>)
      	<br>
      	<% end %>
      </h3>
      </section>
  </aside>
</div>
